* {
  box-sizing: border-box;
}

:root {
  --font: 'Lato', sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 10px;
  text-align: center;
}

.page-header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.header-paragraph {
  font-weight: 600;
}

.pokemon-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
