* {
  box-sizing: border-box;
}

:root {
  --font: 'Lato', sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 10px;
  text-align: center;
}

.list-group {
  text-align: center;
  width: 700px;
  margin: 40px auto;
}


.page-container {
  margin-top: 60px;
}
